<h2>自分の施設一覧</h2>

<div class="facility-list">
  <% @facilities.each do |facility| %>
    <div class="facility-item">
      <%= link_to facility.name, facility_path(facility) %>
    </div>
  <% end %>
</div>

<%= link_to "新規施設登録", new_facility_path, class: "btn-submit" %>
